{% extends '_base.html' %} {% load static %}


{% block title %}DMs{% endblock title %}


{% block header %}
    {% include 'top_bar.html' %}
{% endblock header %}


{% block content %}

{% for user in users %}
    <div class="flex justify-between items-center text-xs font-medium pt-2 pb-1 shadow-sm shadow-gray-400 px-2">
    <a href="{% url 'dm-page' user.username %}">
        <div class="flex items-center gap-4">
            <img src="{{user.profile_pic.url}}" class="h-10 rounded-full" alt="group_dp">
            <div>
                <h1 class="text-sm font-bold">{{ user.username }}</h1>
                <p>{% if user.bio %}{{user.bio}}{% endif %}</p>
            </div>
        </div>
    </a>
    </div>
    
{% endfor %}
    
{% endblock content %}
    
    
{% block footer %}
    {% include 'bottom_bar.html' %}
{% endblock footer %}
