{% extends '_base.html' %} {% load static %} 

{% block title %}DM{% endblock title %} 


{% comment %} {% block header %}
    {% include 'top_bar.html' %}
{% endblock header %} {% endcomment %}
    

{% block content%}
<div class="chat-header">
    <a href="{% url 'group-list' %}">
        <button class="back-button">← Back</button>
    </a>
    <div class="group-info">
        <h2>{{ user.get_full_name}}</h2>
        <p>@{{ user.username}}</p>
    </div>
    <div></div>
</div>
<section class="chat-window" id="chat-window">

</section>
<div class="message-input">
    <input type="text" id="chat-message-input" placeholder="Type a message...">
    <button id="chat-message-submit">Send</button>
</div>

{{ request.user.username|json_script:"currentUser" }} 
{{ user.username|json_script:"otherUser" }} 

{% endblock content %}

