{% extends 'main.html' %} {% load static %}


{% block title %}Home{% endblock title %}


{% block content %}
   
    {% block header %}
            {% include 'topbar.html' %}
    {% endblock header %}
    
    {% block sidebar-left %}
        {% include 'sidebar-left.html' %}
    {% endblock sidebar-left %}
        
    {% block content-center %}
    <h1>Your Groups</h1>
    {% for group in groups %}
        <section class="group-card">
            <img src="{% static 'messaging/imgs/group.jpg' %}" alt="Group Image">
            <div class="group-info">
                <h3><a href="{% url 'group-page' group.slug %}">{{ group.name }}</a></h3>
                <p>Group Description</p>
                <p>{{ group.members.count }} Member{{ group.members.count|pluralize }}</p>
                
                <form action="{% url 'group-page' group.slug %}" method="POST">
                    {% csrf_token %}
                    <button class="join-button">View Group</button>
                </form>
            </div>
        </section> 
    {% endfor %}
        
    {% endblock content-center %}
        
    {% block sidebar-right %}
        <ul>
            <li><a href="#">School Website</a></li>
            <li><a href="#">School Library</a></li>
            <li><a href="#">Student Portal</a></li>
        </ul>
    {% endblock sidebar-right %}
            
{% endblock content %}
    
    